@model Business.ViewModels.FurnitureModel.FullFurnitureViewModel
           
<img class="img-center" src="/Images/@Model.Id'.png'" /><br />

<h3><span style="font-weight:600;">Name: </span>@Model.Name</h3>
<h3><span style="font-weight:600;">AddiotionalInfo: </span>@Model.AdditionalInfo</h3>
<h3><span style="font-weight:600;">Type: </span>@Model.Type</h3>
<h3><span style="font-weight:600;">Room: </span>@Model.Room</h3>
<h3><span style="font-weight:600;">Products assemblied: </span>@Model.ProductsCount</h3>
