@using FurnitureFabric.Properties
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Resources.Header_SiteName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-responsive.css")
    @Styles.Render("~/Content/custom.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-bottom:0;">
    <div class="container-narrow">
        @Html.Partial("_MenuView")
        <div id="body" style="min-height: 570px;">
            @RenderBody()
        </div>
        <footer id="footer">
            <div style="margin:20px 0 0 0;" class="well">
                <p class="text-center">&copy; @DateTime.Now.Year - Exaple</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
